@import compass/css3

html
  font-size: 18px
  font-family: '微軟正黑體', sans-serif
  color: #333

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

p
  line-height: 1.5em

a,a:link
  text-decoration: none
  color: inherit

// fix semantic ui label position in menu
.ui.menu
  .item>.label
    vertical-align: middle
    margin-top: -0.3em

// layout
#wrapper
  max-width: 480px

.break
  text-align: center
  .count
    padding-right: 0.5em
    .number
      font-size: 150%
      padding: 0 0.5em
    .unit
      font-size: 1rem

