html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.ui.menu .item > .label {
  vertical-align: middle;
  margin-top: -0.3em;
}

#wrapper {
  max-width: 480px;
}

.break {
  text-align: center;
}
.break .count {
  padding-right: 0.5em;
}
.break .count .number {
  font-size: 150%;
  padding: 0 0.5em;
}
.break .count .unit {
  font-size: 1rem;
}
