html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.ui.menu {
  margin: 0;
}
.ui.menu .item > .label {
  vertical-align: middle;
  margin-top: -0.3em;
}

.ui.label.white {
  background: none;
}

.ui.grid {
  margin: 0;
  padding: 0;
}
.ui.grid .row {
  margin: 0;
  padding: 0;
}
.ui.grid .row .column {
  padding: 0;
  margin: 0;
}

#wrapper {
  max-width: 480px;
}

#schedule .session.wide {
  padding: 2rem 1rem 0.5rem 1rem;
}
#schedule .session.narrow {
  padding: 2rem 1rem;
}
#schedule .session.narrow h3 {
  margin: 0;
}
#schedule .session .ui.image {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: 0 1rem 0.5rem 0;
}
#schedule .session .ui.image img {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
#schedule .session .topic, #schedule .session .speaker {
  padding: 0.5rem 0;
  display: block;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
#schedule .session .topic:hover, #schedule .session .speaker:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#schedule .break {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
}
#schedule .break .current {
  padding: 1rem;
}
#schedule .break .count {
  padding-right: 0.5em;
}
#schedule .break .count .number {
  font-size: 150%;
  padding: 0 0.5em;
  color: #d95c5c;
}
#schedule .break .count .unit {
  font-size: 1rem;
}

#broadcast .item, #sponsor .item {
  width: 100%;
  line-height: 1.5em;
  padding: 0.5em;
  white-space: normal;
}
#broadcast .item .ui.label, #sponsor .item .ui.label {
  margin-left: 0;
  margin-right: 0.5em;
}
#broadcast .item .more, #sponsor .item .more {
  float: right;
}
